@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #4a5568 #edf2f7;
    }
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #edf2f7;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #4a5568;
      border-radius: 9999px;
      border: 2px solid #edf2f7;
    }

  }

